

<% if type != "user"%>
  <h1>Orders Details</h1>
  <%= render 'order_type_links'%>
<% end %>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Order</th>
        <th>Created_by</th>
        <th>Created_at</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% orders.each do |order|%>
        <tr>
          <th><%= link_to "order",single_order_order_path(order[:id])%></th>
          <% user=User.find_by(id:order[:user_id])%>
          <th><strong><u>Name:</u></strong><%=" "+user.user_name+" "%><strong><u>Email:</u></strong><%= " "+user.email%></th>
          <th><%=order[:created_at]%></th>
          <th><%=order[:status]%></th>
        </tr>
      <%end%>

    </tbody>
    <tfoot>

    </tfoot>
</table>
