<table class="table table-striped">
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Price</th>
      <% if view==='cart'%>
        <th></th>
      <%end%>
      </tr>
  </thead>
  <tbody>
    <% items.each do |item|%>
      <tr>
        <th> <strong> <%= link_to item[:title],item_path(item[:id])%> </strong></th>
        <th><%= item[:quantity]%></th>

        <th><%= item[:price]*item[:quantity]%></th>
        <% if view==='cart'%>
        <th> <%= link_to 'Remove', item_cart_path(item_id:item[:id]), method: :delete, data: { confirm: 'Are you sure?' } ,remote: true,class:"btn-link"%> </th>
        <%end%>
      </tr>
    <%end%>
  </tbody>
  <tfoot>

      <% if view==='cart'%>
      <tr>
        <th></th>
        <th>
          <% if !items.empty?%>
            <%= link_to 'Proceed to checkout',orders_path,method: :post,class:"btn-success"%>
          <%end%>
        </th>
        <th></th>
      </tr>

      <%else%>
      <tr>
        <th></th>
        <th><strong>SUM:</strong></th>
        <th>
          <%= order[:total_amount]%>
        </th>
      </tr>

      <tr>
        <th></th>
        <th><strong>Created At:</strong></th>
        <th>
          <%= order[:created_at]%>
        </th>
      </tr>
      <tr>
        <th></th>
        <th><strong>Status:</strong></th>
        <th>
          <%= order[:status]%>
        </th>
      </tr>
        <% if order[:status]==="completed" || order[:status]==="cancelled"%>
        <tr>
          <th></th>
          <th><strong><%= "Order "+order[:status]+" at :"%></strong></th>
          <th>
            <%= order[:updated_at]%>
          </th>
        </tr>
        <%end%>
        
      <%end%>
      <% if view==="order"%>
        <%= render partial:'orders/order_links',locals:{order:order,view:view}%>
      <%end%>


  </tfoot>


</table>
