<div class="item">
  <figure class="figure">
    <%if item.image.attached? %>

      <%= link_to image_tag(item.image),item_path(item)%>
    <%else%>
      <%= link_to image_tag('No_Img_Available.jpg'),item_path(item)%>
    <%end%>
    <figcaption class="figure-caption"><strong><%= item.title %>:</strong></figcaption>
    <figcaption class="figure-caption"><strong>Description:</strong><%= item.description %></figcaption>
    <figcaption class="figure-caption"><strong>Price:</strong><%= item.price %><strong>USD</strong></figcaption>
    <figcaption class="figure-caption text-right"><%= link_to "Add To Cart",item_carts_path(item),method: :post,type:"button",class:"btn" %></figcaption>
    <%= render 'item_links',item: item%>
</div>
