<div class="item">
  <figure class="figure">
    <%if item.image.attached? %>

      <%= link_to image_tag(item.image),item_path(item)%>
    <%else%>
      <%= link_to image_tag('No_Img_Available.jpg'),item_path(item)%>
    <%end%>
    <figcaption class="figure-caption"><strong>Title:</strong><%= item.title %></figcaption>
    <figcaption class="figure-caption"><strong>Description:</strong><%= item.description %></figcaption>
    <figcaption class="figure-caption"><strong>Price:</strong><%= item.price %><strong>USD</strong></figcaption>
    <% if !item[:retired] && !policy(Item).create?%>
      <figcaption class="figure-caption text-right"><%= link_to "Add To Cart",item_carts_path(item),method: :post,type:"button",class:"btn" %></figcaption>
    <%elsif item[:retired] && policy(Item).create?%>
      <figcaption class="figure-caption text-right"> <%= link_to "Retired",toggle_retire_item_path(item,type:"retired"),method: :post,type:"button",class:"btn" %> </figcaption>
    <%elsif !item[:retired] && policy(Item).create?%>
      <figcaption class="figure-caption text-right"> <%= link_to "Retire",toggle_retire_item_path(item,type:"retire"),method: :post,type:"button",class:"btn" %></figcaption>
    <%else%>
      <figcaption class="figure-caption text-right"><span>NOt Available</span></figcaption>
    <%end%>
    <%= render 'item_links',item: item%>
</div>
