<p id="notice"><%= notice %></p>
<%= form_with(model: category, local: true) do |form| %>
  <%= render partial:'errors',locals:{category:category}%>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name,required:true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
